.button-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 8px;
    justify-content: space-evenly;
    margin-bottom: 8px;
}

.button-box_modified {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 8px;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

.button-box__button {
    width: 20px;
    height: 20px;
    background-color: #94b6f0;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    cursor: pointer;
}

.button-box__button_clicked {
    width: 20px;
    height: 20px;
    background-color: #437ad8;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    cursor: pointer;
}

.button-box__button_disabled {
    width: 20px;
    height: 20px;
    background-color: #8c9096;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    cursor: not-allowed;
}