#content {
    flex: 1 1;
    order: 2;
    display: flex;
}

#map {
    flex: 1;
}

.app__container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__distance {
    color: black;
    margin: 0 auto;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
}

.app__distance_hidden {
    display: none;
}

.app__coordinates {
    width: 80%;
    margin: 2px 10% 5px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    line-height: 17px;
    text-align: center;
}

h3.app__coordinates {
    width: 80%;
    margin: 2px 10% 5px;
    color: rgb(40, 128, 202);
    font-size: 16px;
    line-height: 17px;
    text-align: center;
}

.app__coordinates_modified {
    width: 80%;
    margin: 10px 10% 0px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    line-height: 17px;
    text-align: center;
}

.app__location-info {
    width: 80%;
    height: min-content;
    margin: 10px 10%;
    color: rgba(0, 0, 0, 0.4);
    text-align: left;
    line-height: 18px;
}

.app__map-pointer {
    position: relative;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    z-index: 10000000000;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 599px) {
    .app__coordinates {
        width: 100%;
        margin: 0;
        font-size: 12px;
        line-height: 13px;
    }

    .app__conteiner {
        width: 25%;
    }

    .app__distance {
        margin-top: 3px;
        font-size: 13px;
        line-height: 14px;
    }

    .app__location-info {
        width: 100%;
        text-align: center;
        margin: 5px 10%;
        line-height: 13px;
        font-size: 12px;
    }

    h3.app__coordinates {
        line-height: 13px;
        font-size: 12px;
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    .app__location-info {
        width: calc(100% - 10px);
        text-align: center;
        margin: 5px;
        line-height: 13px;
        font-size: 12px;
    }

    h3.app__coordinates {
        width: calc(100% - 10px);
        line-height: 13px;
        font-size: 12px;
        margin: 5px;
    }

    .app__coordinates {
        width: 100%;
        margin: 0;
        line-height: 13px;
        font-size: 12px;
    }
}