#content {
    flex: 1 1;
    order: 2;
    display: flex;
}

#map {
    flex: 1;
}

.app__conteiner{
    width: 20%;
}

.app__coordinates{
    width: 80%;
    margin: 0 10% 15px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    line-height: 15px;
}

.app__location-info{
    width: 80%;
    margin: 15px 10%;
    color: rgba(0, 0, 0, 0.4);
    text-align: left;
    font-size: 400;
    line-height: 18px;
}

.button__here{
    cursor: pointer;
    border: 1px solid red;
    height: 30px;
    width: 90px;
    text-align: center;
    margin: 0 auto 10px auto;
}
