.table-container {
  margin: 10px auto;
  width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

tfoot {
  background-color: #f2f2f2;
}

thead {
  background-color: #3f74d1;
  color: white;
  font-weight: bold;
}

th {
  border: 1px solid rgb(206, 204, 204);
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 10px;
  border: 1px solid rgb(206, 204, 204);
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(1){
  color: rgb(14, 199, 14);
}

tr:hover {
  background-color: #f2f2f2;
  color: black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}