.table-container {
  margin: 10px auto;
  width: 80%;
}

.table-container_invissible {
  visibility: hidden;
}

.table__toggle-button {
  position: relative;
  background-image: url('../../images/v-arrow.svg');
  background-size: 30px;
  top: 0;
  left: 35%;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.table__toggle-button:hover{
  opacity: 0.3;
}

._toggled{
  transform: rotate(180deg);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

tfoot {
  background-color: #f2f2f2;
}

thead {
  background-color: #3f74d1;
  color: white;
  font-weight: bold;
}

th {
  border: 1px solid rgb(206, 204, 204);
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 10px;
  border: 1px solid rgb(206, 204, 204);
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(1) {
  color: rgb(14, 199, 14);
}

tr:hover {
  background-color: #f2f2f2;
  color: black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}